[2020-10-05 20:14] PippoRaimondi opened #1 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2020-10-05 20:28] #1 closed

[2020-10-26 10:10] PippoRaimondi opened #7 "Ability to hide elements of the page"
The intent of this enhancement is to hide elements that are dynamically rendered based on third party services or timestamp, causing visual regression tests to be flaky or increasing complexity to deal with these scenarios.

[2020-10-26 10:11] PippoRaimondi opened #8 "Update baseline via cli option"
Rather than manually update the baselines, it would be nice to have an option to run tests and update baselines if we are sure that the new comparison images are correct.

[2020-10-26 12:29] PippoRaimondi opened #9 "Make test folders configurable"
Both screenshot and report folders are hardcoded. There might be use cases where we would like to have these folder creation configurable to our needs.

[2020-10-26 12:30] PippoRaimondi opened #10 "Add test coverage job"
It would be nice to know how much of the code is being covered by tests so we could improve it as we go.

[2020-11-12 05:01] jradom opened #12 "question about options"
Please, let me know if I can configure density, threshold, mask/exclusion areas, etc?

Thanks

Jeff

[2020-11-12 16:11] mehrad-rafigh commented on #9
@PippoRaimondi I would like to take a shot at this

[2020-11-17 06:05] jradom commented on #12
Please clarify how to assert result in case of pass or failure

[2020-11-17 06:24] jradom commented on #12
I've tried to run your tool and I use Cypress/Typescript and got this
![image](https://user-images.githubusercontent.com/20550461/99354020-834d9700-285a-11eb-8afb-96b0c3982ce0.png)
![image](https://user-images.githubusercontent.com/20550461/99354019-834d9700-285a-11eb-9867-2cd031a1729b.png)
Please help

[2020-11-23 14:51] PippoRaimondi commented on #12
@jradom have you followed these steps prior to writing the tests?

https://github.com/uktrade/cypress-image-diff/blob/main/docs/Cypress%20integration.md

[2020-11-29 22:07] PippoRaimondi commented on #12
Will close this issue with the assumption that not all setup steps were followed.

[2020-11-29 22:45] jradom commented on #12
I’m not sure what do you mean. I’m away from my laptop and will check again if your tool work as expected

Sent from my iPhone

[2020-11-30 09:14] PippoRaimondi commented on #12
Threshold/density can be configured per test... I might introduce a global but for now there isn't a need as usually there are only a couple of test scenarios that you would want to change these configurations hence the configurable option on test level.

The below feature will take care of masking areas which is pretty much done by hiding elements/divs that are generated dynamically by system tim

[2020-12-04 20:26] jarretmoses commented on #7
@PippoRaimondi I am guessing you are speaking about something like an `intercom` button rendering. I agree this would be helpful and personally am potentially going to work around this by manipulating the dom. I notice that it's a similar issue to any `fixed` positioned element that gets in the way of the screen shot like the header but these elements get plastered along the entirety of a full pag

[2020-12-05 16:32] jarretmoses opened #15 "Hardcoded prefix added to filenames"
I am not sure if this is intentional or not but as I was working with this package I noticed that if I run all my tests through the GUI from `cypress open` by clicking run all integration tests, my screenshot file names get a hardcoded prefix added to them as seen in the attached screenshot `All Integration Specs`. Is this an intention? Seems if I were to have CI errors and want to rerun locally t

[2020-12-08 12:22] PippoRaimondi commented on #15
I see the problem here, the testname value from cypress is different depending on the test run method... I will get this fixed shortly!

[2020-12-08 12:26] #12 closed

[2020-12-08 12:27] PippoRaimondi commented on #9
@mehrad-rafigh someone raised a PR around this, it needs testing... you might want to have a look at it and maybe finalise it on your own PR. If not I will have some bandwidth this week and will sort it out!

[2020-12-08 18:12] mehrad-rafigh commented on #9
@PippoRaimondi thanks for letting me know. That PR has not been updated for a few days. Do you think we should ping the author? I have some time during this week.

[2020-12-11 19:29] mehrad-rafigh opened #17 "Update to cypress 6"

[2020-12-11 19:29] mehrad-rafigh opened #18 "Use Github Issue Template"
Would be nice, if this project had some templates for issue types

[2020-12-11 19:44] mehrad-rafigh commented on #10
Are you thinking about using codecov?

[2020-12-14 23:46] #17 closed

[2020-12-15 11:00] PippoRaimondi commented on #15
@jarretmoses there is a bug opened against cypress to fix this issue when running all tests:

https://github.com/cypress-io/cypress/issues/3090

if you want to run all tests you will have to stick with the `cypress run` command until the above is fixed.

[2020-12-15 11:00] #15 closed

[2020-12-20 04:51] jradom commented on #12
Sorry, I had looked inside #7 link but didn't understand how to exclude certain elements from comparison.  Please, clarify

Thanks

Jeff

[2020-12-20 08:04] jradom opened #20 "Run-time errors when using cypress-image-diff with Cypress/Typescript and cypress-cucumber-preprocessor"
Hello,

I've tried using your tool in Mocha Cypress and it did work and I liked the results and simplicity of use.
We use Cypress with Typescript and BDD/Cucumber.  The I see run-time errors which I don't know how to fix.
my project structure looks like this
![image](https://user-images.githubusercontent.com/20550461/102708257-84595600-4256-11eb-9e8f-c57ea9445f66.png)
Keep in mind that because of

[2020-12-20 08:07] jradom opened #21 ".ts"

[2020-12-20 08:13] jradom commented on #20
My cypress.json looks like this
{
  "env": {},
  "numTestsKeptInMemory": 50,
  "watchForFileChanges": true,
  "includeShadowDom": false,
  "defaultCommandTimeout": 8000,
  "execTimeout": 60000,
  "taskTimeout": 60000,
  "pageLoadTimeout": 60000,
  "requestTimeout": 5000,
  "responseTimeout": 30000,
  "fileServerFolder": "root project folder",
  "fixturesFolder": "fixtures",
  "integrationFolder":

[2020-12-20 08:19] jradom commented on #20
When I tried to remove report related code from Support/index.ts
I saw this error now
![image](https://user-images.githubusercontent.com/20550461/102708513-ab188c00-4258-11eb-809e-a537ef87a387.png)
Think that actual snapshots for comparison using your tool had benn generated ina screenshot folder

Please help if you can.  I really want to move forwar and use your tool in my upcomimg project

Thank

[2020-12-20 08:20] #21 closed

[2020-12-24 07:25] jradom commented on #20
So, is it a hope that the above enhancement will be done in a feasible future. Please, let me know

Thanks

Jeff

[2020-12-24 12:52] PippoRaimondi commented on #20
End of year is a bit tough for me.. if no one in the community picks it up soon I will work on it in the first weeks of the new year.

[2020-12-24 19:26] jradom commented on #20
I’ll patiently wait because out of few tools yours is one of the best I’ve tried. I mean the way it works a straight forward implementation and use

Thanks in advance

Jeff

Sent from my iPhone

[2021-01-05 12:48] #8 closed

[2021-01-08 16:38] jradom commented on #20
Please, let me know if you'll be able to get to my issue in a feasible future one way or another?  Otherwise I'll stop waiting and will think to use some other approach to Visual testing

Thanks

Jeff

[2021-01-12 21:14] PippoRaimondi commented on #20
@jradom the issue seems specific to generating the report. You might not be able to use after blocks on cucumber setups since it's a mocha thing... can you remove the below from `cypress/support/index.js`:

[code]

I can research a way for you to generate the report using cucumber framework and will update the readme. Please let me know if this works for you for now after removing the above.

[2021-01-12 21:19] jradom commented on #20
Sounds like a great plan. So, I'll try removing report related part but it'll be nice to have the ability to generate a report.

Thanks

Jeff

[2021-01-13 05:49] jradom commented on #20
Unfortunately, your suggestion didn't help.  I'm getting now this
![image](https://user-images.githubusercontent.com/20550461/104411807-f0f70600-551f-11eb-9c02-57992a622969.png)
Please, advise

Thanks a lot in advance

Jeff

[2021-01-15 14:53] PippoRaimondi commented on #20
@jradom have you tried merging `plugins/intex.ts is below`?

so have the below written at the end of your second module that handles cucumber preprocessor:

[code]

This is not a problem with this plugin and more how you are setting it up... can you try that and share your new plugin/index file content so we can take it from there?

[2021-01-17 09:56] jradom commented on #20
my index.ts looks like this

module.exports = (on:any, config:any) => {
    const getCompareSnapshotsPlugin = require('cypress-image-diff-js/dist/plugin')
    getCompareSnapshotsPlugin(on, config)
}

const browserify = require('@cypress/browserify-preprocessor');
const cucumber = require('cypress-cucumber-preprocessor').default;
const resolve = require('resolve');
module.exports = (on:any, config:

[2021-01-17 13:17] PippoRaimondi commented on #20
Can you change to:

[code]

[2021-01-17 13:46] ohmygar1989 opened #23 "I am not able to find cy.compareSnapshot command."
I have follow the steps not able to find this function.. Please help.

The error is saying property compareSnapshot does not exist on type cy.

// cypress/support/commands.js
const compareSnapshotCommand = require('cypress-image-diff-js/dist/command')
compareSnapshotCommand()

// cypress/support/index.js
require('./commands')

//plugins/indes.js
const cucumber = require('cypress-cucumber-preproces

[2021-01-17 20:19] jradom commented on #20
I'll try and let you know

[2021-01-17 21:42] jradom commented on #20
Good news.  It looks like it went to end for positive case with no diff.  I'll try later a negative case.  Also, I'd be very interested to generate a report.  Can you please try making it work for Cypress/Cucumber configuration?  Is is a particular low Cpress version I need to use?

Thanks a  lot

Jeff

[2021-01-17 22:04] PippoRaimondi commented on #20
now that we fixed the plugin, try following the report documentation... it most likely will work as well...

[2021-01-17 22:06] PippoRaimondi commented on #23
yes, add the below to `plugin/index.js`:

[code]

so it will look like:

[code]

[2021-01-18 02:14] ohmygar1989 commented on #23
![image](https://user-images.githubusercontent.com/22483242/104865019-abaf5a00-599f-11eb-9769-226079078ab9.png)
Thanks for your information! But I still cannot find the command after using your setting. :(

[2021-01-18 07:36] jradom commented on #20
Hi Pippo,

Reporting startedto work but in a strange way.  When I run several features only one report was created.  Any next one overwrites a previous.  I'd prefer consolidated report or separate repots based on feature files.  Also, it's not clear to me how to assert in order to verify a failed or passed scenario

Please, advise

Thanks

Jeff

[2021-01-18 07:36] jradom commented on #20
![image](https://user-images.githubusercontent.com/20550461/104885391-dc01e480-591c-11eb-8fe4-243737af39f7.png)

[2021-01-18 07:38] jradom commented on #20
below are my step samples

Given(/^I am finally on NIGHTLY login page$/, function () {
    cy.visit('http://nightly.ist.bina.com/');
});

Then(/^I take my own screenshot NIGHTLY$/, function () {
    let uploadToS3Local: string = 'aws s3 sync ' + BASELINE_LOCAL_PATH + ' ' + BASELINE_LOCAL_AWS_PATH;
    let uploadToS3Jenkins: string = 'aws s3 sync ' + BASELINE_LOCAL_PATH + ' ' + BASELINE_JENKINS_AWS

[2021-01-18 08:19] PippoRaimondi commented on #23
I just realised you have the wrong imports happening... please follow the documentation below carefully:

https://github.com/uktrade/cypress-image-diff/blob/main/docs/Cypress%20integration.md

It's proven to work with cucumber setup so this is a setup issue in your end. I will be closing this issue shortly.

[2021-01-18 08:19] PippoRaimondi commented on #23
This is a setup issue.

[2021-01-18 08:19] #23 closed

[2021-01-18 08:23] PippoRaimondi commented on #20
Please open a new issue for the report with instructions and screenshots of the issue.

Assert is part of the compareScreenshot command. If it has a baseline and the new comparison image fails the diff it will fail the test.

[2021-01-18 08:23] #20 closed

[2021-01-18 08:36] jradom commented on #20
I see.

Thanks for clarifying

Jeff

[2021-01-18 08:45] jradom opened #24 "I can't generate separate or consolidate report when use several feature files with Cypress/Cucumber"

[2021-01-18 08:48] jradom commented on #24
When I run several features only one report was created. Any next one overwrites a previous. I'd prefer a consolidated report or separate reports based on feature files. Also, it's not clear to me how to assert in order to verify a failed or passed scenario

[2021-01-18 08:50] jradom commented on #24
![image](https://user-images.githubusercontent.com/20550461/104892470-153f5200-5927-11eb-81bc-476f7a74672c.png)

below are my step samples

Given(/^I am finally on NIGHTLY login page$/, function () {
cy.visit('http://nightly.ist.bina.com/');
});

Then(/^I take my own screenshot NIGHTLY$/, function () {
let uploadToS3Local: string = 'aws s3 sync ' + BASELINE_LOCAL_PATH + ' ' + BASELINE_LOCAL_AWS_PA

[2021-02-08 08:04] jradom commented on #24
Hi Pippo,

Please, let me know if you can make a fix/improvement for my issue above in a feasible future?  I really like your tool and wanna use it in my project

Thanks

Jeff

[2021-02-24 16:39] PippoRaimondi commented on #7
@jarretmoses completely missed this msg, apologies... I am about to pick this up...

The solution would be hide elements in the dom before taking a screenshot. This would allow you to get rid of any dynamic element that would mess up the result of visual test, making it more flexible and reliable.

[2021-02-24 16:41] PippoRaimondi commented on #10
@mehrad-rafigh that's correct. Will be looking to capture the coverage around the e2e tests as well.

[2021-03-01 09:07] #7 closed

[2021-03-02 02:34] jradom opened #28 "I can't get failed Cypress screenshots"
Hello,

Once I've started to use your tool it looks like it suppresses failed screenshot generation.  Is it a way to still keep failed screenshots to be generated?

Thanks

Jeff

[2021-03-03 08:55] PippoRaimondi commented on #28
What version of the tool are you using? Ensure to use the latest.

Also as good practice you should keep visual and functional test suites separate...

[2021-03-03 15:47] jradom commented on #28
Hi Pippo,

I use 1.9.0 and discovered that failed screenshots are
suppressed recently.  When I comment out your plugin in the code they come
back.  Unfortunately, I can't have a separate project for Visual tests.
But I do like your tool a lot.  Please, help

Thanks

Jeff

On Wed, Mar 3, 2021 at 12:55 AM Pippo Raimondi <notifications@github.com>
wrote:

[2021-04-16 18:11] jradom opened #29 "how to turn on ability to generate failed screenshots"
Hi Pippo,

We use the same code for functional and visual tests.  I saw your code and you turn off failed screenshots generation but we need it.  How that can be changed?  I had tried to put turning on screenshot into before hook but it was too late for our dynamic reporting but files popped up
![image](https://user-images.githubusercontent.com/20550461/115066288-33740a00-9ea4-11eb-977c-be282a9f9d

[2021-04-19 07:24] PippoRaimondi commented on #29
Hey, I will put some time this week to sort out these issues... will keep you posted!

[2021-04-19 07:51] jradom commented on #29
On Mon, Apr 19, 2021 at 12:24 AM Pippo Raimondi ***@***.***>
wrote:

Hi Pippo,

It sounds like a great plan. I saw in your code that you disable failed
screenshots and I was able to enable those on the fly I’m the before hook.
But we have custom reporting framework that pickups on the fly failed
screenshots and on demand. My colleague who developed it said that you
misty likely disabled also some

[2021-04-22 09:22] PippoRaimondi commented on #29
@jradom this should be fixed once #30 is merged. make sure to use the latest version of the package.

[2021-04-22 09:22] PippoRaimondi commented on #29
solved by #30

[2021-04-22 09:22] #29 closed

[2021-04-22 09:23] PippoRaimondi commented on #28
should be solved by #30

[2021-04-22 09:23] #28 closed

[2021-06-22 12:58] dariuszteooh opened #32 "Screenshots are weirdly cropped"
Hi folks,

I'm trying to use the library to run image comparison tests, but the screenshots I'm getting are rather weirdly cropped.
For example, this is what my page looks normally in the browser:
![Screenshot 2021-06-22 at 13-55-35 Roomkey - Download](https://user-images.githubusercontent.com/64851760/122928304-a34db780-d361-11eb-92ad-edc07c26b844.png)
But the snapshot taken by your library looks

[2021-07-01 13:27] skydever opened #33 "Support Cypress 7"
Hi!

First of all, thx for this project! 👍

I am using Cypress version 7 (`7.6.0`) and everytime I run `npm install` two versions of cypress will be installed - `7.6.0` and `6.9.1`. I think that [this](https://github.com/uktrade/cypress-image-diff/blob/main/package.json#L44) line is the issue - you are referencing `"cypress": "^6.1.0"` at `package.json`.

Do you plan on updating this to `"cypress"

[2021-07-01 15:05] davidicus commented on #32
@dariuszteooh I noticed this as well. Have you found a solution?

[2021-07-05 21:53] PippoRaimondi commented on #33
@skydever `1.11.1` now supports cypress `7.6.0` and `npm resolution` should no longer be a problem. Closing this issue.

[2021-07-05 21:54] #33 closed

[2021-07-05 21:57] PippoRaimondi commented on #32
it seems like the resolution of the browser is causing the issue. If you have a public facing website that you could give me to try some things, I can try to figure out exactly what's going on and possibly come up with a workaround.

[2021-07-06 06:17] skydever commented on #33
@PippoRaimondi thx a lot!

[2021-07-09 13:52] dariuszteooh commented on #32
@PippoRaimondi try roomkey.co

[2021-07-14 16:23] PippoRaimondi commented on #32
Ok, will check tomorrow and let you know if there is a workaround.

[2021-07-26 10:00] PippoRaimondi commented on #32
sorry all, I was fighting covid so was down for a couple of weeks... will get to this task soon.

[2021-07-27 16:15] PippoRaimondi commented on #32
@dariuszteooh

I ran the tests via docker, and ensured that both viewport size and docker display config was large: I.E

On cypress test:

[code]

On docker file:

[code]

The config above resulted in the below screenshot, which IMO is acceptable. So I would say the issue is related to setup rather than the tool itself... I will give a couple of days until I close this issue off. Please let me kno

[2021-08-05 09:11] #32 closed

[2021-10-21 16:19] lvxwrkr777 opened #47 "file copy error after test due to use of > char"
`Error: ENOENT: no such file or directory, copyfile 'C:\repos\cypress\screenshots\503.spec.ts\503.spec.ts-#main  article.png' -> 'C:\repos\cypress-visual-screenshots\comparison\503.spec.ts-#main > article.png'`

The > char is a bad character in Windows filesystem.

[2021-11-11 10:41] dhamo-pk opened #50 "Bug: Expected viewportHeight to be a number -error after upgrading cypress version to 9.0.0"
It was working perfectly fine with cypress version 8.7.0 and this package with version 1.14.4. I upgraded cypress to 9.0.0 and then I started to get the following error in the test runner.

Also, I upgraded "cypress-image-diff-js": "^1.15.5", but the error is still same.

The error:

[code]

& the cypress.json:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/44419390/141284

[2021-11-19 08:03] PippoRaimondi commented on #50
ok, I am checking!

[2021-11-19 08:31] PippoRaimondi commented on #50
I apologise, I was on vacation... I've made the fix a bit more robust so this doesn't happen again...

[2021-11-19 08:35] PippoRaimondi commented on #50
@dhamo-pk I am closing this issue. thanks for raising it and the PR as well.

[2021-11-19 08:35] #50 closed

[2021-11-19 08:46] PippoRaimondi commented on #50
:tada: This issue has been resolved in version 1.15.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-image-diff-js/v/1.15.7)
- [GitHub release](https://github.com/uktrade/cypress-image-diff/releases/tag/v1.15.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-23 09:56] dhamo-pk commented on #50
Excellent, thank you @PippoRaimondi

[2021-11-25 01:22] jradom opened #54 "Recently started to see run-time isue while running on Jenkins"
![image](https://user-images.githubusercontent.com/20550461/143338055-896356fd-5fde-4838-a2a2-550c20b389eb.png)
Please, help

Thanks

Jeff

[2021-11-25 13:21] PippoRaimondi commented on #54
Will have a look this weekend or Monday given I am on the road.

[2021-11-25 16:48] jradom commented on #54
Will be great.

Thanks a lot in advance

Jeff

Sent from my iPhone

[2021-11-29 20:28] kevinsperrine opened #55 "[Bug]: Error: dest already exists from moveSync when running on Node v16"
[code]

cypress-image-diff-js: 1.15.8
cypress: 9.1.0
node 16.5.0

[2021-11-29 22:55] Pomax opened #57 "how to deal with sticky CSS?"
It looks like screenshots are based on "scrolling the page", which doesn't work for pages with `sticky` and `fixed` CSS positioning, leading to hilariously wrong screenshots like this one:

Is there any way to tell the screenshooter to not scroll, but use the browser's built in "take a full page screenshot" function?

[2021-11-30 07:09] narinluangrath commented on #57
You might find this useful. https://docs.cypress.io/api/commands/screenshot#Full-page-captures-and-fixed-sticky-elements
An alternative I've found is to make the viewport height huge (like 5000px).

[2021-11-30 18:04] PippoRaimondi commented on #57
This should work:

[code]

otherwise a big resolution so it fits the entire page should do.

[2021-11-30 18:23] #55 closed

[2021-12-01 10:47] PippoRaimondi commented on #55
:tada: This issue has been resolved in version 1.15.9 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-image-diff-js/v/1.15.9)
- [GitHub release](https://github.com/uktrade/cypress-image-diff/releases/tag/v1.15.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-01 10:50] Mike1692 opened #59 "dependecies only for cypress ^9.0.0"
Would be nice to have the dependencies also for cypress ^8.5.0.
Now our pipe tries always install the new cypress version what causes some errors.

 "^8.5.0 || ^9.0.0" would be fine.

[2021-12-01 12:17] PippoRaimondi commented on #59
For now I would suggest using the last version available under 9.0.0:

https://github.com/uktrade/cypress-image-diff/releases/tag/v1.15.5

Another solution if this is causing a problem is to add resolution to your package, forcing your dependencies it to install whatever cypress version you'd like (should be used as last resort): https://www.npmjs.com/package/npm-force-resolutions...

I will study

[2021-12-01 21:25] Pomax commented on #57
Having to manually _alter_ the page in order to get a screenshot of what the page is supposed to look like kind of defeats the purpose =)

Chrome and FF both have "take a full page screenshot" functionality built in, is there a way to tap into that instead? e.g. in Chrome it's under dev tools -> [⋮] menu -> "run command" and then type screenshot; in FF there's a "take screenshot" icon that lets yo

[2021-12-01 21:27] Pomax commented on #57
Ah, according to https://docs.cypress.io/api/cypress-api/screenshot-api#Arguments this is just a standard option. `Cypress.Screenshot.defaults({ capture: `fullPage' })` should be all you need.

[2021-12-01 22:31] Pomax commented on #57
hm, nope - after testing, that's still a very weird "scroll and tesselate", so I guess that won't get us actual real screenshots still =(

[2021-12-03 06:13] lasithdilshan20 opened #60 "cy.task('rp_screenshot') failed with the following error:"
Hi,

I just got the following error after executing the basic test with this plug-in.

Script

`describe('Visuals', () => {
    it('should compare screenshot of the entire page', () => {
        cy.visit('www.google.com')
        cy.compareSnapshot('home-page')
    })
})`

Error -

`CypressError
cy.task('rp_screenshot') failed with the following error:

The task 'rp_screenshot' was not handled in

[2021-12-14 04:11] narinluangrath opened #62 "[Feature Request] Retry Logic"
The majority of my false positives could be solved by adding some retry logic to the plugin. It would work something like this:

1. If a baseline doesn't exist or `--update` cli arg passed, don't retry (nothing to compare).
2. If a baseline does exist and the test passes, don't retry (already passed).
3. If a baseline does exist and the test fails, retry the snapshot after T milliseconds.
      3a

[2021-12-14 22:01] PippoRaimondi commented on #62
This is a good suggestion... I can work on it but end of year is crazy... so I am looking to pick this up mid/late jan... Unless someone else picks it up!

[2021-12-16 06:33] narinluangrath commented on #62
Looks like this can be easily implemented using [cypress-recurse](https://github.com/bahmutov/cypress-recurse).

[2021-12-22 12:05] #62 closed

[2021-12-22 12:09] PippoRaimondi commented on #62
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-image-diff-js/v/1.16.0)
- [GitHub release](https://github.com/uktrade/cypress-image-diff/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-28 07:25] yuqianma opened #65 "Typescript definition?"
Hi,

What's the intended way to use it in TS env?
VSCode warns `Property 'compareSnapshot' does not exist on type 'Chainable<JQuery<HTMLCanvasElement>>'.ts(2339)`

Though it is only a warn and runs well without types, it's annoyed to see everywhere.

I have to add types currently, follow here: https://docs.cypress.io/guides/tooling/typescript-support#Types-for-custom-commands

[2021-12-28 21:24] Dassderdie commented on #65
If anyone else stumbles over this issue:

`support/index.ts`
[code]

[2021-12-29 05:51] yuqianma commented on #65
@Dassderdie  The code comment is great!

`testThreshold ` should be optional?

[2021-12-29 13:45] Dassderdie commented on #65
Correct.

In addition i also added the typings from `cypress-recurse` and added jsdoc annotations for the default values.

`support/index.ts`
[code]

[2022-01-23 15:56] Dassderdie opened #67 "The screenshot names are different when running `All Integration Specs` via the cy ui"
## Setup
I use `cypress@9.2.1` and `cypress-image-diff-js@1.16.1`.

I have a simple integration test in `landing-page.spec.ts`:
[code]

## Bug description
If I start cypress via `cypress run` I get a screenshot with the name `landing-page.spec.ts-landing-page.png`.

If I start cypress via `cypress open` and click on `Run 1 integration spec` the resulting screenshot name is `All Integration Specs-l

[2022-01-23 16:07] Dassderdie commented on #67
After a bit further investigation, it seems like this is a well-known bug: https://github.com/cypress-io/cypress/issues/3090 and `cypress-plugin-snapshots` has actually a [caveat in their readme](https://github.com/meinaart/cypress-plugin-snapshots#caveats-warning) about this.

[2022-01-23 16:15] #67 closed

[2022-01-28 16:22] edudelta opened #68 "Screenshots taken with different size than viewport"
I have cypress.json setting viewport as following:
`{
  "viewportWidth": 1440,
  "viewportHeight": 900
}`

However screenshots taken are:
1280x768
1280x795
1280x1018
...
I was expecting to deal with width in cypress.json, or even to scroll horizontally.

Cypress version: 8.7.0
cypress-image-diff: 1.16.1
Running on MAC 12.1

[2022-01-30 19:05] PippoRaimondi commented on #68
instead of looking for viewport from cypress config, we look at environment variables:

I.E use these in your terminal...
export HEIGHT= 900
export WIDTH= 1440

This could be improved to look at the cypress config though, so I will leave this issue opened.

[2022-01-31 01:32] marucjmar commented on #68
This [topic](https://github.com/cypress-io/cypress/issues/3324) is interesting. I have the same problem but when I changed the scale on my 4K monitor from 175% to 100% all works perfectly...

[2022-01-31 10:48] edudelta commented on #68
I have tried to force viewport as here https://docs.cypress.io/api/plugins/browser-launch-api#Set-screen-size-when-running-headless but it has only worked with environment variable as commented.

[2022-02-28 07:54] konstantinschuette commented on #9
Have you done some work on this? Because I want to use this repo in the mono repository NX. Therefore I need multiple test folders. One folder for each E2E test application

[2022-02-28 08:10] konstantinschuette opened #69 "EPERM: operation not permitted, stat"
Sometimes when I rerun my tests I get this error:
[code]

[code]

plugin.js (the second last line failed):
[code]

utils.js (the second line failed):
[code]

Has anybody faced this issue?

------------

After some research, it seems like setting the permission is what causes this problem.
Because when an image already exists in `cypress-visual-screenshots/comparison` a permission gets applied and

[2022-03-01 11:53] PippoRaimondi commented on #69
I will be having a look at this.

[2022-03-07 07:25] bentleyvk commented on #69
I am having the same issue. If I understand correctly it appears only when running Docker Desktop with WSL flag enabled:
![image](https://user-images.githubusercontent.com/36186912/156986253-1b81a9fd-acd6-43a4-9e48-0fcb2fd6ceed.png)
Because disabling this flag, tests passes.
Also, when I commented out `(0, _utils.setFilePermission)(details.path, 511);`, tests pass even with this flag on.
Here is m

[2022-03-07 13:31] PippoRaimondi commented on #69
@bentleyvk we change the permission of the screenshot so the file can be copied/removed from one folder to the other. I think similar to this issue, there is some confiugration that will fail if we don't set the permission. I think if we copy only instead file permission is not necessary.

[2022-03-09 10:15] KimBum commented on #69
The changelogs

The changes in 1.15.8 do indeed look suspiciously like they could cause permission issues 🤔

[2022-03-10 16:49] PippoRaimondi commented on #69
yep, I am working on it! I will ask you guys to test it out for feedback soon though

[2022-03-10 17:56] PippoRaimondi commented on #69
Can you guys test this out? I assume the problem is overwriting a permissionless file... so adding permission should workaround it:

https://github.com/uktrade/cypress-image-diff/pull/73

[2022-03-12 16:52] kristofgilicze commented on #9
I would also prefer if I could put it under ./cypress, or anywhere else for that matter.
I have enough top-level folders without.

Willing to pick this up, if no one is active.
Keeping the root level folders default, should not break stuff ?

[2022-03-14 09:44] bentleyvk commented on #69
I still get the same error `Error: ENOENT: no such file or directory, open '/e2e/demo/cypress-visual-screenshots/comparison/PageLayoutDemo.spec.tsx-basic-3440x1440.png'` 😕

[2022-03-15 07:51] PippoRaimondi commented on #69
@bentleyvk can you share more details?

- where are you running the tests? locally, some remote desktop, docker etc..
- which directory the tests are triggered?
- what OS are you working on..

Before I can fix it I need to replicate it...

[2022-03-15 09:06] bentleyvk commented on #69
I am running locally on Windows 10 Version 20H2 using Docker Desktop with `Use the WSL 2 based engine` enabled (when it is disabled, tests seem to pass but sometimes I get the same permission error).
I have a monorepo with yarn workspaces.
I am starting tests using Node script that runs cypress in docker. Test command is triggered in root directory but scripts run in subrepo.

[2022-03-21 13:47] fangmarks opened #74 "cypress-image-diff overrides my cypress.json viewports"
Hello!

I have viewport sizes set in my cypress.json file, and as the Title says, even though I have them defined, this plugin overrides them and makes them bigger than I want them to.

This Issue is rather annoying, especially because there is no cross-platform way to set the Environment Variables and npm cannot find the "HEIGHT" command because it gets wrongly interpretet.

If possible I'd sugge

[2022-03-21 14:09] PippoRaimondi commented on #74
This is absolutely something we will fix... there is an issue opened which will tackle it:

https://github.com/uktrade/cypress-image-diff/issues/68

I will keep this issue opened as well and implement this feature shortly.

[2022-03-21 14:15] himbolion commented on #74
Yay and Thanks for the quick Reply!

I thought I checked the issues to see if there already was someone mentioning this, but i guess i missed that one

[2022-03-21 14:33] PippoRaimondi commented on #65
@Dassderdie if you don't mind creating a PR for this... we should have typescript support and I will work on it if no one else finds the time. Thanks a lot for sharing

[2022-03-21 15:15] #74 closed, assigned to nobody

[2022-03-23 10:50] himbolion commented on #9
Very much agree with @kristofgilicze, I'd like to put these folders into the `/cypress` folder as well, we already have enough top-level folders without testing

[2022-03-23 13:09] himbolion commented on #74
Yeah, that would explain why it still resets to 1980x1440 when I use cy.compareSnapshot()
![image](https://user-images.githubusercontent.com/20520193/159706744-bdcd3cfe-5307-4efd-bfce-ae0d9816964b.png)

[2022-03-24 09:39] PippoRaimondi commented on #68
:tada: This issue has been resolved in version 1.18.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-image-diff-js/v/1.18.0)
- [GitHub release](https://github.com/uktrade/cypress-image-diff/releases/tag/v1.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-24 09:39] PippoRaimondi commented on #74
:tada: This issue has been resolved in version 1.18.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-image-diff-js/v/1.18.0)
- [GitHub release](https://github.com/uktrade/cypress-image-diff/releases/tag/v1.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-24 22:54] zhex900 commented on #65
My TS is still complaining. Can you see what I did wrong?

[code]
[code]
[code]

[code]

[2022-03-29 07:52] ParsonsProjects commented on #69
Hello, I have had a similar issue when running `cypress open` locally on a windows machine. After some trial and error I narrowed it down to the `setFilePermission` function. It looks like the issue is that after opening and changing the file permissions the file stays open which locks other actions being performed on the given file.

This is a really quick fix adding `closeSync` to the end of the

[2022-04-01 07:12] himbolion commented on #69
I still having this Error as well, I'll try the solution above and report back if it works in my case

[2022-04-01 09:30] himbolion commented on #69
Yup, adding that fixes it for me as well

[2022-04-07 16:00] #69 closed

[2022-04-21 12:26] emreSmrt commented on #9
I want to separate the screenshots which are taken via compareSnapshot() the others [cy.screenshot() and screenshotsOnFailures].

In the current status, it removes the screenshots on failures and I cannot see them on CypressDashboard.

It can be applied with a minor change in removeAndMoveFile() in dist/utils.js

If you already have a solution, I want to learn

[code]

[2022-05-03 10:07] ivanasy opened #81 "cy.compareSnapshot is not a function error"
Hello, please check out following issue that I am facing:

These are my dependencies:
   "auth0-js": "^9.18.0",
    "chai": "^4.3.4",
    "chai-exclude": "^2.1.0",
    "cypress": "^9.6.0",
    "cypress-image-diff-js": "^1.18.1",
    "eslint": "^8.7.0",
    "fs": "^0.0.1-security",
    "mocha": "^10.0.0",
    "mochawesome": "^7.1.3",
    "prettier": "^1.19.1"

I have 0 vulnerabilities

But running

[2022-05-03 10:10] #81 closed

[2022-05-03 10:10] ivanasy commented on #81
Wrong setup issue. Closing

[2022-05-05 02:46] JasonFairchild opened #83 "Option to have baseline, comparison and diff screenshots all in single side by side view?"
Is there a way to have this with this plugin? I've seen it with other approaches, and it seems really visually nice. Sometimes only the diff can be pretty difficult to read. Kinda like this:
![image](https://user-images.githubusercontent.com/56280950/166856830-7c41f750-b597-4837-8839-977f33b2ed35.png)

Vs something like this (this example is probably the simplest using a single file and from cypre

[2022-05-06 09:09] PippoRaimondi commented on #83
yes, that's a good suggestion... we can update the HTML of the report to present it this way... I will wait to see if anyone in the community that is really good with HTML wants to pick this one up, if not I will fix it.

[2022-05-06 21:00] JasonFairchild commented on #83
Cool. I might be oversimplifying it, but it seems like this example is just taking the 3 images and concatenating them into a single image, with baseline on the left and new shot on the right and the diff between. Sounds pretty straightforward, but not something I have experience with so far.

[2022-06-03 10:25] JerWeber opened #86 "Getting the image difference percentage"
Hi,

Is there currently a way to retrieve the image difference percentage ? I have my mochawesome reporter and I would like to display the percentage, but I am not finding a way to retrieve the return from the compareSnapshotCommand.

[2022-06-06 03:02] lazurey opened #87 "Question: any plan to move Cypress to peer dependencies?"
Hi there,

First of all, thank you for making this fantastic plugin!
Just a small question, I saw Cypress is in the dependency list in `package.json` and the version is specified.
I'd like to ask is there a plan to move it to `peerDependencies`, so users don't need to install two different Cypress versions (v10 and v9 in my case).

Thanks again!

[2022-07-20 18:18] oguzhantx opened #89 "Cypress 10 usage"
is there support or upgrade needed for this to work with cypress 10? Does anyone have an experience with this with cypress 10?

[2022-07-21 08:36] kien-ht commented on #83
As of today, it seems like this issue hasn't been fixed yet. My project is also using this plugin, so I'd love to help.

[2022-07-28 09:13] helenou opened #91 "Can't find documentation on reporting configuration"
I'm a new user. I don't see any report once the screenshots are generated including a diff.
The directory cypress-visual-report is created along with cypress-visual-screenshot structure that includes baseline, comparison and diff properly. However I have a diff screenshot generated, cypress-visual-report is left empty.

Could you advise and document that feature as I can read it was merged previou

[2022-07-29 11:42] PippoRaimondi commented on #91
Hello, you can find documentation for reporting here:

https://github.com/uktrade/cypress-image-diff/blob/main/docs/Reporting.md

can you please share the test result + report it generated and I will have a look.

[2022-07-29 12:34] fengkx opened #92 "Feature request: inline image as base64 in report"
It is useful to make image inline if I runing testing in a CI. Then I just download the html file from artifacts without downloading all other files one by one.

[2022-07-29 13:06] helenou commented on #91
thanks for your reply. I see comments about the threshold being different than set (I set to 0 by default) when using the retry options as follow:

const retryOptions = {
      limit: 5, // max number of retries
      delay: 4000 // delay before next iteration, ms
    };

cy.compareSnapshot('home-page', 0, retryOptions);

[2022-07-29 13:29] helenou commented on #91
@PippoRaimondi sorry I cannot share the screenshots but so far from the report (i was missing the report config in after() ) now I see a clear difference in screenshots size where the baseLine is clearly shorter height than comparison.

Can you explain how to decide above 0 threshold please ?

[2022-08-02 14:55] #65 closed

[2022-08-02 14:58] PippoRaimondi commented on #83
Thanks for contributing @kien-ht ... closing this issue after merging the below:

https://github.com/uktrade/cypress-image-diff/pull/90

[2022-08-02 14:58] #83 closed

[2022-08-12 13:38] JavedAubdoolQA opened #97 "When taking a snapshot of an element it takes snapshot of the whole screen"
Hi there,

First of all, thank you for making this fantastic plugin!
My issue is when compareSnapshot takes a snapshot of an element it takes a snapshot of the whole screen and then the image that is provided is cropped which only includes the element. I was expecting it to only capture an image of that element.

As I have a use case where I have different environments which have different functio

[2022-08-12 14:33] markbeaman44 opened #98 "Task deleteScreenshot also deletes failed screenshots created by cypress"
Hi All,
I'm using the visual tool along with cypress assertions/validations, and I've noticed 2 things:
Please let me know if its an issue or I'm doing something wrong :)

1:
During my test it will execute some actions then assert, then visual-snapshot.
But if the assert failed - it should take a screenshot and store in folder, but when using the visual plugin - it doesnt.
I think its due to delet

[2022-08-15 09:51] #97 closed

[2022-08-15 09:53] JavedAubdoolQA commented on #97
No longer an issue as the example code works

[2022-08-16 06:34] faith-berroya commented on #89
Hello @PippoRaimondi I'm very much excited for the Cypress 10 support. Do you have a timeline for this?

[2022-08-16 07:20] faith-berroya opened #99 "Getting an error cy.task('copyScreenshot') failed with the following error: > ENOENT: no such file or directory, stat '(pathname)' when trying to run for the first time"
Hello. I tried to setup our project and added this plugin that uses baseline for visual testing. On my first run, instead of getting an image on my `baseline` folder, I'm getting this error. Did I miss a step? I have the folder in our repository, same path as to which the error is stating.

<img width="416" alt="image" src="https://user-images.githubusercontent.com/101372793/184819815-29cdade9-fe2

[2022-08-18 08:22] stephenwil commented on #89
It attempts to download Cypress v9.7.0 as part of this package install?

[2022-08-19 08:32] #89 closed

[2022-08-19 15:00] PippoRaimondi commented on #54
Couldn't replicate, closing this issue.

[2022-08-19 15:00] #54 closed

[2022-08-19 15:01] PippoRaimondi commented on #86
This is now available in the report. download the latest version!

[2022-08-19 15:01] #86 closed

[2022-08-22 13:47] surajwaits commented on #99
I am also facing the same error...
@PippoRaimondi, Could you please help us with this issue?

[2022-08-22 22:03] JasonFairchild opened #100 "Snapshot not including entire screen even though I set the resolution very large"
This plugin is only taking a screenshot of about a 1000px square section of the top left of the screen, which is a small portion of this long form I'm trying out (needs about 4000px height to render all of it without a scrollbar). Has anyone else noticed this? I'm setting the viewport like this and when I run the test, it displays with this viewport in the browser, but the snapshot command always

[2022-08-22 22:28] JasonFairchild commented on #100
This seems kind of wild. I just tried another long (large height) component, doing the same thing as the example test I showed, and it did work to do the scrolling behavior and captured the whole screen. So I guess there is some difference between them, but I have no idea what. The component that isn't working is a higher level component that uses the component that did work as I'd expect...

[2022-08-24 12:59] PippoRaimondiDIT commented on #89
:tada: This issue has been resolved in version 1.21.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-image-diff-js/v/1.21.1)
- [GitHub release](https://github.com/uktrade/cypress-image-diff/releases/tag/v1.21.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-24 14:57] SaulGoode77 commented on #9
This would be HUGE for me if someone can add this option!

[2022-08-29 06:30] 18202izm opened #101 "How to skip Image difference errors"
Is there a way to skip `Error: Image difference greater than threshold` errors  with this plugin?

The cypress-image-snapshot plugin provides this option.
[https://github.com/jaredpalmer/cypress-image-snapshot](url)
<img width="640" alt="スクリーンショット 2022-08-29 152505" src="https://user-images.githubusercontent.com/112163147/187136412-0a6dcaa4-825a-433a-93f8-2cb1fa1e5c5d.png">

Thank you in advance.

[2022-08-29 17:03] oguzhantx opened #102 "snapshot testing for component testing"
Is it possible to get snapshot testing working for component testing? on the install documents, it is mentioned that **where {scheme} defaults to e2e**
**// cypress/support/index.js for Cypress versions below 10
// cypress/support/{scheme}.js for Cypress versions 10 and above, where {scheme} defaults to e2e
require('./commands')**
is it possible to overwrite this **{scheme}** so it looks into comp

[2022-08-31 11:21] markbeaman44 commented on #98
Closing ticket - it was addressed in this fix: https://github.com/uktrade/cypress-image-diff/commit/dea83b099cdf0d5050bc304fc690e9153163d0e8
Thanks :)

[2022-08-31 11:21] #98 closed

[2022-09-02 13:13] danbord opened #103 "focus-visible problem"
The CSS **:focus-visible** state style on a button is sometimes applied and sometimes not when calling **compareSnapshot**.  Which makes my test fail.

I tried with the cy.screenshot and seems to be always applied.  Not sure what could cause this difference between

[2022-09-08 08:07] zwarag opened #104 "Question: Compare dynamically fetched elements."
I was wondering if there is a way to compare elements of a page that need to be fetched at runtime.
Currently I've experiencing the problem that the [test](https://github.com/zwarag/poc-differ/blob/master/cypress/e2e/screenshot.cy.js#L16) immediately stops running after one of those elements differs from the previous screenshot. However I would like it to keep running the test, even if it partiall

[2022-09-08 10:40] albert-m-willemsen commented on #59
seems a duplicate of [](https://github.com/uktrade/cypress-image-diff/issues/87)

[2022-09-08 10:43] albert-m-willemsen commented on #59
For the moment you can workaround using:
`  "overrides": {
    "cypress-image-diff-js": {
      "cypress": "$cypress"
    }
  }`
in your package.json

[2022-09-08 17:28] JasonFairchild commented on #102
I have this plugin working with component testing and Cypress version 10. Which version are you using? I don't think I had to deal with this 'scheme' you talk about at all. I just added the relevant setup to the component property of the config. So my cypress.config.js:
[code]
Then these lines in a cypress/support/component.js just work:
[code]
If you do both E2E and component testing in the same

[2022-09-09 10:55] uhlstefa opened #105 "Image-diff result is 0.0 even there is a different element?"
Hi all,
i am new to cypress and this package and want to use it for ui testing. So far, the image-diff reacts correct, when i have a complete different page. But when i have same page, but only a different button it says failure treshhold 0.0.
Can the tool detect even those small changes?
And what information do you need to support in here?
![compare not working](https://user-images.githubusercont

[2022-09-12 10:06] clickcell opened #106 "Any plan to support Cypress 10?"
As titled thanks.

[2022-09-13 20:14] oguzhantx commented on #102
@JasonFairchild your config seems to be working. Thanks

[2022-09-13 20:14] #102 closed

[2022-09-14 11:27] PippoRaimondi commented on #105
hey, it should detect any pixel difference for a given page or element... can you share the code that resulted in a no pixel difference? I suspect you are taking screenshots of some other element causing it not to fail?

[2022-09-14 11:28] PippoRaimondi commented on #106
yes, you can use this package for cypress 10... notice [cypress integration](https://github.com/uktrade/cypress-image-diff/blob/main/docs/Cypress%20integration.md) docs with details of how to use configure it in cypress 10...

[2022-09-14 17:23] 787681277 opened #107 "How to update Snapshots of specific test case instead of all test?"
No need to update the base image files for all tests.In actual scenario, just need to re-generate baseline image for specific test case

[2022-09-19 06:50] #106 closed

[2022-09-19 08:38] evgenysyrkashev opened #112 "Cypress 10 generates screenshots outside of folder-scructure-test folder"
From the list of Cypress 10.0.0 [breaking changes](https://docs.cypress.io/guides/references/changelog#10-0-0):

Steps to reproduce:
 - update Cypress to 10.8.0 in package.json;
 - run `npm install`;
 - run `cypress open` and migrate config files;
 - run `npm run test:e2e`;
 - observe that `folder-structure.cy-wholePage.png` is generated outside of `folder-structure-test` folder.

[2022-09-19 20:02] nmkataoka commented on #89
I opened a PR, until then you can use the workaround here: https://github.com/uktrade/cypress-image-diff/issues/59#issuecomment-1240543726

[2022-09-20 16:58] jkjustjoshing opened #115 "Normalize screen pixel densities"
When I collect snapshots using `cypress run`, the screenshots collected are collected at a default pixel density. However, when I collect snapshots using `cypress open` on my MacBook, the screenshots collected are at double pixel density.

Is there a way to standardize this? Otherwise, when I run my tests using `cypress open` they always fail because the comparison images are twice as wide as the

[2022-09-21 14:54] PippoRaimondi commented on #112
Thanks a lot for pointing this out, I will have a look and provide a fix as soon as I can!

[2022-09-22 12:17] Lyokolux commented on #115
I am looking for this too because we are using MacBooks at my company but I would integrate it in the CI too.

[2022-09-22 12:19] Lyokolux commented on #115
Here is a visual regression plugin that does it: https://github.com/meinaart/cypress-plugin-snapshots#make-changes-to-default-configuration

[2022-09-23 16:38] nmkataoka commented on #115
Thanks @Lyokolux , the logic there is pretty simple: https://github.com/meinaart/cypress-plugin-snapshots/blob/master/src/tasks/matchImageSnapshot.js#L32. I'll try it out.

[2022-09-23 16:49] nmkataoka commented on #104
The function `compareSnapshot` functions as an expect statement, which fails the test immediately if the comparison fails, which is usually desirable to save time. I don't think this package provides this functionality, but you might be able to split the "take screenshot" action from the "compare screenshots" action by writing your own command. For reference, here's how the `compareSnapshot` comma

[2022-09-23 16:51] nmkataoka commented on #103
@danbord Could you provide a reproducible example?

[2022-09-27 22:45] JasonFairchild commented on #103
Could this be based on whether the window running the test is in focus or not? This should only apply when running the test in cypress open mode, and I think it is an unavoidable aspect of cypress/browsers. Happens to me all the time. We made a custom assertion/message testing focus to put just before the compareSnapshot command so that is is clearer what the problem is.

[2022-09-28 06:59] Terence625 commented on #101
hi, @18202izm , I'm also looking for feature, do you have any solutions, thanks

[2022-09-29 09:48] ssauriera opened #117 "Image comparision question"
I'm using this pluguin to compare two divs. The only difference it's the background color from #5291dd to #5291aa as you can see in the images attached
Baseline:
![testing spec cy ts-selected item](https://user-images.githubusercontent.com/5089486/193000286-7080dedf-2e6e-4cd1-ad23-eeb09df48f46.png)

Comparision:
![testing spec cy ts-selected item](https://user-images.githubusercontent.com/5089486/

[2022-09-29 10:21] ssauriera commented on #81
We are having the same issue, how do you fixed?

[2022-09-29 21:30] PippoRaimondi commented on #112
Ok, I've been working to try to fix this and there is no non-hacky way of doing this..

When taking screenshots, cypress would store and create folder structures that matched your spec structure based on the below information:

[code]

Now this same object is missing the `specName` and flattens any folder structure, hence it puts all screenshots in the same folder... so not only they stopped repli

[2022-09-30 08:58] PippoRaimondi commented on #105
closing this as it doesn't seem to be an issue.

[2022-09-30 08:58] #105 closed

[2022-09-30 08:58] PippoRaimondi commented on #47
This issue has been fixed in previous merged PRs

[2022-09-30 08:58] #47 closed

[2022-09-30 08:59] PippoRaimondi commented on #87
Will be fixing this now.

[2022-09-30 08:59] #87 closed

[2022-09-30 12:57] PippoRaimondi commented on #107
This is something we could improve! I am marking this as a good next feature!

[2022-10-05 07:47] uhlstefa commented on #105
Cause of sickness i wasn't able to answer earlier. I still have the problem.
[code]

[2022-10-05 21:48] JasonFairchild opened #118 "How can I tell if the retries option is happening?"
I haven't been able to find any evidence that multiple screenshot attempts are happening. Can anyone please suggest how I can investigate/see when or whether a retry happened?

I have this timing issues that only reliably seems to happen in headless (cypress run or CI mode), but having retries doesn't seem to address it 100% of the time, either that, or just the flaky nature of it makes it hard to

[2022-10-06 14:43] uhlstefa commented on #117
I have a similar issue. I have 3 different button styles. But the test never fails no matter which button image is use as comparison. It detecs when i am on a complete different page, but not when only the button stype is different

[2022-10-06 14:45] uhlstefa commented on #105
@PippoRaimondi Could you pls support here again? Thx

[2022-10-07 21:40] JasonFairchild commented on #118
So I have found a way to see the screenshots from retries. It involves setting the `preserveOriginalScreenshot: true` env var in cypress config. Then after a run where multiple retries were made, you can see multiple screenshots of the same file name kept in the default cypress screenshots folder, appended (1), (2) etc.

This is at least something, but I think it would be a really cool feature if

[2022-10-14 07:56] BatyrSeven commented on #115
You can set scale factor for Chrome in launch options:

[code]

[2022-10-14 08:10] BatyrSeven commented on #9
Any updates on this?

[2022-10-14 08:31] Lyokolux commented on #115
This is great workaround, but it does not provide a solution for every browsers. I checked for Firefox and didn't find a solution.
Maybe we can add this workaround on the README after the warning though.

[2022-10-18 05:53] jwangyangls opened #120 "Unable to accurately update baseline image"
Unable to accurately update baseline image

I generated two pictures in the baseline through the code, img1 and img2, and the same two pictures in the compoarision. At this time, the logic of img2 was deleted in my code, and after using the cli update (cypress run --component && cypress -image-diff.js -u) img2 in baseline is not automatically deleted

[2022-10-21 01:53] jwangyangls opened #121 "Image comparison on different computers cannot pass"
For example, I executed cypress run on computer 1, generated a baseline image, and then submitted the code. When I execute it again on computer 2, there will be a difference between the images in the diff folder, resulting in failure. I need to pass the threshold to get control? If so, how should this range be controlled?

[2022-10-21 01:55] jwangyangls commented on #121
The font is relatively thicker, or the difference in the shadow implementation of the border of the div tag

[2022-10-21 05:38] PippoRaimondi commented on #121
If your read this [section of the readme](https://github.com/uktrade/cypress-image-diff#please-notice) it's stated how important it is for you to replicate all runs in the same setup... you have a few alternatives... either run your tests against browserstack or via container...

[2022-10-21 05:40] PippoRaimondi commented on #120
deletion of baselines are still manual unfortunately... although this is a feature that could definitely be introduced!

[2022-10-25 08:56] binvb opened #122 "different resolution between cypress run && cypress open cli"
config:
    "test": "DEBUG=code-coverage cypress open --component --browser chrome",
    "test:force-update-baseLine": "DEBUG=code-coverage cypress open --component --browser chrome && cypress -image-diff.js -u",
    "test:commit": "cypress run --component --browser chrome && npx nyc report"

my step:
1、npm run test:force-update-baseLine;
2、npm run test;
it can pass the image compare test, but if

[2022-10-27 00:20] JasonFairchild opened #123 "Passing options for the cypress screenshot command"
Is this not possible? It doesn't appear to be from the code, but I don't see why it could not be. I'd like to be able to clip the screenshot before it is compared. https://docs.cypress.io/api/commands/screenshot#Clip

I may even open a PR to add this capability myself, but has anyone else tried or thought about it and know it is much more difficult than it may look? I think I would basically just

[2022-10-27 11:44] PippoRaimondi commented on #123
We can provide screenshot options, but at global level not individually:

I.E

in `support/commands` file you can do the following:

[code]

Although this would mean every screenshot would have this configuration...

I will mark this is a good next enhancement!

[2022-10-27 18:46] JasonFairchild commented on #123
Yeah, I couldn't do this clip option for all screenshots, or at least it would be really hacky/tedious to get it to work for every other situation.

To be clear, the enhancement you mean is to allow for passing the options on an individual compareSnapshot instance basis, right? The reason I want to do this clipping is actually probably because some odd cypress component testing specific bug, or po

[2022-10-28 06:48] PippoRaimondi commented on #123
Yes, this enhancement would be to add the options to individual compareSnapshot commands!

[2022-10-28 08:34] jwangyangls commented on #120
Oh I think I might just use the container to run this way

[2022-10-30 16:52] Jamesking56 commented on #100
Yeah I got this same behaviour, won't go wider than 1000px

[2022-10-30 17:07] Jamesking56 commented on #100
I've just managed to get it to do a 1280x800 image by setting `viewportWidth` and `viewportHeight` in `cypress.config.js`.

[2022-11-04 12:11] Ronaldo-AP opened #124 "Command error in Linux"
Hi,

I use Ubuntu 22.04.1 without GUI to run test.
Cypress version 10.11.0

When you run the tests in headless mode, snapshot command generate an error in console and image is not generated.

`[180292:1104/113137.203356:ERROR:gl_utils.cc(319)] [.WebGL-0x13e005c8ea00]GL Driver Message (OpenGL, Performance, GL_CLOSE_PATH_NV, High): GPU stall due to ReadPixels`

[2022-11-08 12:19] patrickclerc opened #125 "Add configuration to fail test if baseline image doesn't exists"
Hello

Here is a feature/configuration proposal : currently I push my baseline images in my git repository and my CI is running automatically. The tests are passing in the case I forget to push the baseline images, but the test is not comparing images, and the pipeline gives a false success. It would be great to have an option to fail the tests if no baseline images exists.

Thank you for your ver

[2022-11-17 14:43] Maksim631 opened #126 "Question: get report from CI"
Hi, I'm trying to add image comparison into my github action. I wanna get html report to be able to analyse failed cases. Are there any ways to download html report from github action? Maybe its possible to send report to email.
Also I tried to use cypress dashboard, but I also couldn't see report or even diff snapshots there.

[2022-11-18 16:20] PippoRaimondi commented on #125
That's super valid! I will be working on this next week!

[2022-11-18 16:22] PippoRaimondi commented on #126
Make sure to follow the steps for report setup:

https://github.com/uktrade/cypress-image-diff/blob/main/docs/Reporting.md

As long as you follow these steps the report with image comparison will be generated... once you do that, make sure to save the html report artifact to your github action so you can later on download it.

[2022-11-21 13:01] Maksim631 commented on #126
Thanks!

[2022-11-21 13:01] #126 closed

[2022-11-21 13:17] clickcell opened #127 "When the Cucumber framework is used in place of Mocha, then images are not persisted to the filesystem"
Cypress stalls with an Unexpected Error

Error: ENOENT: no such file or directory, open '/Users/harold/IdeaProjects/frontend/cypress-visual-screenshots/comparison/Events.feature-event-counters.png'

The image has not been created. It does exist, but in:

/Users/harold/IdeaProjects/frontend/cypress/screenshots

[2022-11-21 13:44] clickcell commented on #127
Tried

(base) ➜  frontend git:(develop) ✗ chmod -R 777 cypress-visual-screenshots
(base) ➜  frontend git:(develop) ✗ chmod -R 777 cypress-visual-report

[2022-11-21 13:55] clickcell commented on #127
A functional workaround seems to be to manually set :

        screenshotsFolder: "cypress-visual-screenshots/comparison",

in cypress

[2022-11-21 13:55] #127 closed

[2022-11-21 14:01] clickcell commented on #127
I think it's related to this issue https://github.com/uktrade/cypress-image-diff/issues/112

[2022-11-23 08:42] Strezzo06 opened #128 "Can i display report on Gitlab CI"
Anyone know? how to display report on Gitlab CI

[2022-11-28 09:51] admapop commented on #115
Really good workaround, it's worked in my case!
Thanks!

[2022-11-30 16:24] revoyrm commented on #122
We have the same issue. We also see this resolution issue when running it in open on different monitors. Which means it will pass for one engineer and not another.